/**
 * WikiForum default theme style
 */
bgGray = rgba(0, 0, 0, 0.05)
borderGray = rgba(0, 0, 0, 0.2)
borderBlack = rgba(0, 0, 0, 0.5)
borderGreen = green

.wiki-forum-all-container
  .wiki-forum
    border-top: 6px dotted borderGray

    &:last-of-type
      border-bottom: 6px dotted borderGray

    // 一般帖子
    .forum-thread, .forum-add-reply
      background-color: bgGray
      margin: 1rem
      padding: 0.5rem 0.5rem 0.5rem 1rem
      border-left: 4px solid borderGray

    // 楼主
    .forum-first
      border-color: borderBlack

      .forum-content
        font-size: 1.2rem
        line-height: 1.8

    // 新增回帖
    .forum-add-thread
      border-color: borderGreen

    // 帖子头
    .forum-before
      position: relative

      .forum-avatar
        border-radius: 50%
        border: 2px solid borderGray
        width: 1.4rem
        height: 1.4rem

      .forum-id-link
        position: absolute
        right: 0.1rem
        top: 0.1rem

    // 帖子尾
    .forum-after
      clear: both

      .forum-new-reply-area
        display: none

      .post-time
        font-size: small
        color: #888888

      .forum-reaction
        .reaction-like
          &.not-like
            filter: grayscale(1)

            &:hover
              filter: grayscale(0)

          &.is-like
            font-weight: bold

            &:hover
              text-decoration: line-through

    // 回复框
    .forum-input-container
      display: flex
      position: relative

      > div
        display: flex

      > div:first-of-type
        flex: 7

      > div:last-of-type
        width: 2.8rem
        justify-content: center
        align-items: center
        flex: 1

    .forum-create-title, .forum-textarea
      border: none
      background: bgGray
      padding: 6px
      margin: 4px
      border-radius: 4px
      max-width: 100%
      min-width: 100%
      box-sizing: border-box

    .forum-create-title
      display: block
      width: calc(100% - 12px)

    .forum-submit-btn
      width: calc(100% - 12px)
      padding: 1px 2px
      margin: 0 4px

  .forum-loading
    position: relative

    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    &:before
      z-index: 10
      background: rgba(255, 255, 255, 0.5)

    &:after
      background-image: url('https://vignette.wikia.nocookie.net/dftest/images/8/8c/Ms-loading-spinner.svg/revision/latest?cb=20191203083420')
      background-position: 50%
      background-repeat: no-repeat // vignette.wikia.nocookie.net/dftest/images/8/8c/Ms-loading-spinner.svg/revision/latest?cb=20191203083420')

// Minor fix for thumb info-icon
.skin-oasis .wiki-forum-all-container
  .thumb.show-info-icon
    .info-icon
      display: none
      float: right
      margin: -22px 5px 0 0
      position: relative

      svg
        width: 18px
        height: 18px
        fill: rgba(0, 0, 0, 0.3)

    &:hover .info-icon
      display: block

    &:hover .duration
      display: none

  .thumb.inline-video-playing:hover .info-icon
    display: none